html,body,#root{
  background: #A3A5A6;
  font-family: 'Source Code Pro', monospace !important;
}

.btn{
  background: #F8E462;
  color: #fff;
}

.custom-btn {
  background-color: black;
  width: 100%;
}

.form-group {
  padding: 10px;
  border-radius: 4px;
}

.btn-pay {
  color: black;
}

.person_info, .payment_info {
  padding: 7px;
  font-size: 22px;
  border-radius: 4px;
}

.card_info, label {
  display: block;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 10px;
}

button {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  font-size: 26px !important;
  font-weight: 900 !important;
  background-color: #F8E462 !important;
  color: black !important;
}

p {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.info, input {
  font-size: 20px;
  font-family:'Source Code Pro', monospace;
  color: #F8E462;
}

.label-warning {
  width: 100%;
  margin: 40px;
  padding-top: 0;
  background: #F8E462;
  color: black;
  border-radius: 5px;
  font-size: 20px;
}

.content {
  background: url("background-mobile4.png");
  background-size: cover;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  top: 0;
}

h1 {
  font-family: 'Source Code Pro', monospace !important;
  float: left;
  color: #F8E462;
  margin:10px;
  font-size: 29px !important;
  margin-top: 16px;
  margin-bottom: auto;
}

.logo-wrapper {
  float: left;
  padding-left: 30px;
  padding-right: 30px;
}

.logo {
  width: 60px;
  height: 60px;
  padding: 7px;
}

.p {
  padding-top: 5px !important;
  margin-top:5px !important;
  padding-bottom: 5px !important;
  margin-bottom: 5px !important;
}