html, body, #root{
  background: #A3A5A6;
  font-family: 'Source Code Pro', monospace !important;
  color: black;
}

.btn{
  background: #F8E462;
  color: #fff;
}

.custom-btn {
  background-color: black;
  width: 100%;
}

.form-group {
  padding: 10px;
  border-radius: 4px;
}

.btn-pay {
  color: black;
}

.person_info, .payment_info {
  padding: 7px;
  font-size: 22px;
  border-radius: 4px;
}

.card_info, label {
  margin-top: 10px;
  display: block;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 10px;
}

button {
  border: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  font-size: 26px !important;
  font-weight: 900 !important;
  background-color: #F8E462 !important;
  color: #A3A5A6 !important;

}

p {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.info, input {
  font-size: 20px;
  font-family:'Source Code Pro', monospace;
  color: black;
}

.content {
  background-size: cover;
  font-size: 20px;
}

h1 {
  font-family: 'Source Code Pro', monospace !important;
  float: left;
  color: #F8E462;
  margin:10px;
  font-size: 29px !important;
  margin-top: 16px;
  margin-bottom: auto;
}

.logo-wrapper {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0;
  height: 70px;
}

.logo {
  width: 60px;
  height: 60px;
  padding: 7px;
  margin-bottom: 30px;
}

.p {
  padding: 0;
}

.info_upper {
  margin-left: 40px;
  margin-right: 40px;
  margin-top:4px;
  border: 2px solid #F8E462;
}

.info_upper p {
  margin-left: 15px;
  margin-right: 15px;
}