html,body,#root{
  background: #A3A5A6;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.LoginForm{
  color: #F8E462;
  text-align: center;
  
  /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
  width: 100%;
}  
 
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media all and (min-width: 480px) {
  .LoginForm {
    padding: 60px 0;
  }

  .LoginForm form {
    margin: 0 auto;
    max-width: 450px;
  }
}
.navbar{
  background: #F8E462;
}
.btn{
  background: #F8E462;
  color: #fff;
}
.btn:hover{
  background: #F8E462;
  color: #fff;
}
.help-block{
  color: #F8E462;
}
.container{
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 520px) {
  .navbar,.LoginForm{
    padding-left: 15px;
    padding-right: 15px;
  }
}
.custom-btn {
  background-color: black;
  width: 100%;
}

.nav-container{
  height: 85px;
}

.navbar-default .navbar-nav>li>a{
  line-height: 50px;
}

.form-group {
  padding: 10px;
  border-radius: 4px;
}

.btn-pay {
  color: black;
}

.person_info, .card_info, .payment_info {
  font-size: 22px;
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
}

.content {
  font-size: 20px;
}

input {
  padding: 15px;
  margin: 15px;
  border-radius: 6px;
}